@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

:root {
  --bgcolor: #f9fafb;
  --gray: #777;
  --light: #f0f0f0;
  --white: #fff;
  --success: #2ecc71;
  --danger: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bgcolor);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: var(--gray);
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid var(--light);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--gray);
}

.form-control.success input {
  border-color: var(--success);
}

.form-control.error input {
  border-color: var(--danger);
}

.form-control small {
  color: var(--danger);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  /* display: none; */
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: var(--white);
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
